h1[b-jaurriaoz9] {
    color: #000080;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: titulo-aparecer-b-jaurriaoz9 2s ease-in-out;
    border-bottom: 3px solid #000080;
    padding-bottom: 10px;
    font-family: 'Brush Script MT', cursive;
}

@keyframes titulo-aparecer-b-jaurriaoz9 {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
